<!-- your adsense tag -->
<!--<div style="width: 300px; height: 250px; background: #F6F7F8;">-->
<div style="width: 300px; height: 600px; background: #F6F7F8;">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- nginx.conf.in.th -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-1342257025559323"
     data-ad-slot="8162254186"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
